## .NET build artifacts
bin/
obj/
out/

## User-specific files
*.user
*.suo

## IDE
.vs/
.vscode/*
!.vscode/extensions.json
.idea/

## OS
.DS_Store

## Env / secrets
*.env
appsettings.*.local.json

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
